@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@model IEnumerable<eCommerceMVC.Models.Categories>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = httpContextAccessor.HttpContext.Request.Cookies["Category"];
    var cookieCategoryId = Int32.Parse(httpContextAccessor.HttpContext.Request.Cookies["CategoryId"]);
    var cookieCategory = categories.Substring(0, categories.Length - 1);
}

<h2>Categories</h2>

<p>
    <a asp-action="AddCategory">Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("View Products", "ViewProductsInCategory", new { CategoryId = item.CategoryId, Name = item.Name }) |
                    @Html.ActionLink("Rename", "RenameCategory", new { CategoryId = item.CategoryId, Name = item.Name }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { CategoryId = item.CategoryId, Name = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>
