@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@model IEnumerable<eCommerceMVC.Models.Products>

@{
    ViewData["Title"] = "ViewProductsInCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var categories = httpContextAccessor.HttpContext.Request.Cookies["Category"];
    var cookieCategoryId = Int32.Parse(httpContextAccessor.HttpContext.Request.Cookies["CategoryId"]);
    var cookieCategory = categories.Substring(0, categories.Length - 1);
    var category = "Test";
    switch (cookieCategory)
    {
        case "Scarve":
            category = "Scarf";
            break;
        case "Short":
            category = "Shorts";
            break;
        case "Tight":
            category = "Tights";
            break;
        case "Underwea":
            category = "Underwear";
            categories = "Underwear";
            break;
        case "Watche":
            category = "Watch";
            break;
        case "Shoe":
            category = "Shoes";
            break;
        case "Earmuff":
            category = "Earmuffs";
            break;
        default:
            category = cookieCategory;
            break;
    }
    //TempData["BackLink"] = "SpecificCategory";
}
<h2>View All @categories</h2>

<p>
    <a asp-action="AddProduct" asp-route-categoryId=@cookieCategoryId>Add @category</a>
</p>
<div>
    @{int num = 0; }
    @foreach (var item in Model)
    {
        var name = "Image" + num;
        num++;
        
        if (@ViewData[name] != null)
        {
            <div>
                <img class="w-25" src="@Url.Action("show", "image", new { id = (int)@ViewData[name] })" alt="Product's Picture">
            </div>
        }
        

        <div>
            @Html.DisplayNameFor(model => model.SKU):
            @Html.DisplayFor(modelItem => item.SKU)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Name):
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Quantity):
            @Html.DisplayFor(modelItem => item.Quantity)
        </div>
        <div>
            @Html.DisplayNameFor(model => model.Price):
            @Html.DisplayFor(modelItem => item.Price)
        </div>
        <div>
            @Html.ActionLink("View", "ViewProductLanding", item) |
            @Html.ActionLink("Edit", "EditProduct", new { SKU = item.SKU, Name = item.Name, Quantity = item.Quantity, Description = item.Description, Price = item.Price, CategoryId = item.CategoryId, Sale = item.Sale }) |
            @Html.ActionLink("Duplicate", "DuplicateProduct", item) |
            @Html.ActionLink("Delete", "DeleteProduct", item)
        </div>
    }
</div>