@model IEnumerable<eCommerceMVC.Models.Transactions>

@{
    ViewData["Title"] = "OrderHistory";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    int? previousTransactionGroup = 0;
}

<h2>Order History</h2>

@if (Model.Count() != 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Transaction Group
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (previousTransactionGroup == item.TransactionGroup)
            {
                <tr>
                    <td>
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.TransactionGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Sku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Sku)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        previousTransactionGroup = item.TransactionGroup;
    }
        </tbody>
    </table>
}
else
{
    <p>You haven't ordered anything yet.</p>
}
