@model IEnumerable<eCommerceMVC.Models.Transactions>

@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>View Cart</h2>
@if (Model != null && Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.TransactionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.TransactionGroup)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.TransactionId)
                    </td>
                    <td>
                        @{
                            Products product = new Products();
                            product.Sku = item.Sku;
                            product.Name = item.Name;
                        }
                        @Html.ActionLink(item.Name, "ViewProductLanding", "Customer", product)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Quantity)*@
                        <form asp-action="SaveEditedQuantity" asp-route-TransactionId=@item.TransactionId asp-route-Price=@item.Price>
                            <div class="form-group">
                                @*<label asp-for=@item.Quantity class="control-label"></label>*@
                                @*<input asp-for=@item.Quantity class="form-control" />*@
                                @Html.TextBox("Quantity", item.Quantity)
                                <span asp-validation-for=@item.Quantity class="text-danger"></span>
                                <input type="submit" value="Update" />
                            </div>
                        </form>
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.TransactionGroup)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteTransaction", item)
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <b>Subtotal:</b> $@TempData["Subtotal"]
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button class="btn-primary">
                        @Html.ActionLink("Proceed to Checkout", "ViewCheckout", "Customer", null, new { @class = "btn-primary" })
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
}
else
{
    <p>Your cart is empty.</p>
}
